.header_wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 10px;
	border: 1px solid var(--clr-primary);
	background-color: var(--clr-blue-3);
	border-radius: 10px;
	color: var(--clr-primary);

	p:nth-child(1) {
		// font-size: var(--fs-md);
		font-family: var(--ff-bold);
		span {
			font-family: var(--ff-bold);
			color: var(--clr-accent);
		}
	}
}

.time_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 20px;
}

.combo_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 5px;
}
