$satoshi-path: './fonts/Satoshi';
$Geist-path: './fonts/Geist';

// Satoshi
@font-face {
	font-family: 'Satoshi';
	src: url($satoshi-path + '/Satoshi-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Satoshi-Bold';
	src: url($satoshi-path + '/Satoshi-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Satoshi-Italic';
	src: url($satoshi-path + '/Satoshi-Italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Satoshi-Black';
	src: url($satoshi-path + '/Satoshi-Black.woff2') format('woff2');
}

@font-face {
	font-family: 'Satoshi-Light';
	src: url($satoshi-path + '/Satoshi-Light.woff2') format('woff2');
}
