:root {
	--fs-xs: clamp(0.75rem, 1.5vw, 1rem);
	--fs-sm: clamp(1rem, 2vw, 1.5rem);
	--fs-m: clamp(1.5rem, 3vw, 2.5rem);
	--fs-xl: clamp(2rem, 4vw, 3.5rem);
	--fs-xxl: clamp(2.5rem, 5vw, 4.5rem);

	--ff-regular: 'Satoshi', sans-serif;
	--ff-bold: 'Satoshi-Bold', sans-serif;
	--ff-black: 'Satoshi-Black', sans-serif;
	--ff-italic: 'Satoshi-Italic', sans-serif;
	--ff-light: 'Satoshi-Light', sans-serif;
}
