.accent {
	color: var(--color-accent-2);
	font-family: var(--ff-bold);
}

p.tagline {
	color: var(--color-secondary);
	font-size: var(--fs-m);
}

.title_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.searchbar_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.home_container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	row-gap: clamp(0.75rem, 2vw, 1rem);
}

.picture {
	height: clamp(10rem, 25vw, 25rem);
}
