.result-container {
	width: 60dvw;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: start;
	flex-direction: column;
	// row-gap: clamp(0.75rem, 2vw, 1rem);
}

.accent {
	color: var(--color-accent);
	font-family: var(--ff-bold);
}
.cards_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	column-gap: 1em;
}
