.result-container {
	width: 60dvw;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: start;
	flex-direction: column;
	// row-gap: clamp(0.75rem, 2vw, 1rem);
	h1 {
		font-size: var(--fs-xl);
	}
	a {
	}
}

.accent {
	color: var(--color-accent);
	font-family: var(--ff-bold);
}
.cards_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	column-gap: 1em;
}

.navigation_wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	font-size: var(--fs-xs);
}

.selection_wrapper {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: var(--fs-xs);
	column-gap: 10px;

	p {
		font-size: var(--fs-xs);
	}
}
