* {
    font-family: var(--ff-regular);
}

h1 {
    font-family: var(--ff-bold);
    color: var(--color-primary);
}

p {
    font-size: var(--fs-sm);
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding: 20px;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.anotherCenter{
    border-radius: 10px;
    width: 100%;
    background: transparent;

    h1{
        text-align: center;
        font-size: 1.8rem;
    }
    button{
        font-size: 1.3rem;
        font-weight: 600;
        color: rgb(58, 53, 53);
    }
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
input{
    width: 100%;
    border: 2px solid black;
    padding: 16px;
    border-radius: 8px;
    margin: 20px 0px;
}
select{
    width: 100%;
    border: 2px solid black;
    padding: 14px;
    border-radius: 8px;
    margin: 10px 0 20px 0;
}

.addBtn{
    flex-basis: 50%;
    border: none;
    background-color: #6FA6EA;
    padding: 10px 25px;
    cursor: pointer;
}
.backBtn{
    flex-basis: 50%;
    background-color: #FF5757;
    border: none;
    color: black;
    cursor: pointer;
    padding: 10px 25px;
}
.wow{
    display: flex;
    gap: 10px;
}