.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 85vh;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding: 20px;
    background: white;
    width: 40%;
}

.anotherCenter {
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    flex-direction: column;
    background: transparent;

    h1 {
        text-align: center;
        font-size: 1.8rem;
    }

    button {
        font-size: 1.3rem;
        font-weight: 600;
        color: rgb(58, 53, 53);
    }
}



input {
    width: 100%;
    border: 2px solid black;
    padding: 16px;
    border-radius: 8px;
    margin: 20px 0px;
}

.addBtn {
    width: 50%;
    border: none;
    background-color: #6FA6EA;
    padding: 10px 25px;
    cursor: pointer;
}

.backBtn {
    width: 50%;
    background-color: #FF5757;
    border: none;
    color: black;
    cursor: pointer;
    padding: 10px 25px;
}

.flex{
        display: flex;
        gap: 10px;
        button{
            font-size: 1.3rem;
            font-weight: 600;
            color: rgb(58, 53, 53);
        }
}