* {
    font-family: var(--ff-regular);
}

h1 {
    font-family: var(--ff-bold);
    color: var(--color-primary);
}

p {
    font-size: var(--fs-sm);
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.centered {
    width: 90%;
    padding: 40px;
    background-color: white;
    border-radius: 25px;
}

.printContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

    .printButton {
        display: flex;
        justify-content: flex-end;
        padding: 8px 16px;
    }

}