// $clr-light: #fdffc4;
// $clr-dark: #00332a;
// $clr-primary: #dbffa2;
// $clr-secondary: #c3fcf2;
// $clr-accent: #ff7750;

$fs-xs: clamp(0.75rem, 1.5vw, 1rem);
$fs-sm: clamp(1rem, 2vw, 1.5rem);
$fs-m: clamp(1.5rem, 3vw, 2.5rem);
$fs-xl: clamp(2rem, 4vw, 3.5rem);
$fs-xxl: clamp(2.5rem, 5vw, 4.5rem);

// $foreground: $clr-dark;
// $background: $clr-light;

// body fonts
$ff-body: 'Geist', sans-serif;
$ff-body-bold: 'Geist-Bold', sans-serif;
$ff-body-light: 'Geist-Thin', sans-serif;

// heading fonts
$ff-heading: 'Satoshi', sans-serif;
$ff-heading-bold: 'Satoshi-Bold', sans-serif;
$ff-heading-black: 'Satoshi-Black', sans-serif;
$ff-heading-italic: 'Satoshi-Italic', sans-serif;
$ff-heading-light: 'Satoshi-Light', sans-serif;

.main_wrapper {
	min-height: 100dvh;
	min-width: 100dvw;

	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	// background-color: $foreground;
	background-color: rgb(24, 23, 23);

	& > h1 {
		color: rgb(223, 223, 223);
		font-family: $ff-heading;
		font-size: $fs-xxl;
		text-transform: capitalize;
		text-align: justify;
	}
	& > p,
	a {
		color: rgb(223, 223, 223);
		font-family: $ff-body;
		font-size: $fs-sm;
	}
}
p.tagline {
	// font-family: $ff-body-light;
	color: rgb(177, 176, 176);
	text-align: center;
}
