// $foreground: $clr-dark;
// $background: $clr-light;

// body fonts

// heading fonts

.main_wrapper {
	// --clr-light: #dfdfdf;
	--clr-dark: #181717;
	--clr-primary: #e0e0e0;
	--clr-secondary: #bdbdbd;
	--clr-accent: #2c2b2c;

	--fs-xs: clamp(0.75rem, 1.5vw, 1rem);
	--fs-sm: clamp(1rem, 2vw, 1.5rem);
	--fs-m: clamp(1.5rem, 3vw, 2.5rem);
	--fs-xl: clamp(2rem, 4vw, 3.5rem);
	--fs-xxl: clamp(2.5rem, 5vw, 4.5rem);

	--ff-heading: 'Satoshi', sans-serif;
	--ff-heading-bold: 'Satoshi-Bold', sans-serif;
	--ff-heading-black: 'Satoshi-Black', sans-serif;
	--ff-heading-italic: 'Satoshi-Italic', sans-serif;
	--ff-heading-light: 'Satoshi-Light', sans-serif;

	--ff-body: 'Geist', sans-serif;
	--ff-body-bold: 'Geist-Bold', sans-serif;
	--ff-body-light: 'Geist-Thin', sans-serif;

	min-height: 100dvh;
	min-width: 100dvw;

	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: clamp(100px, 20vw, 200px);

	background-color: var(--clr-dark);

	& > *,
	& > * > * {
		color: var(--clr-primary);
		font-family: var(--ff-body);
		font-size: var(--fs-sm);
	}

	& > h1,
	& > * > h1 {
		color: var(--clr-primary);
		font-family: var(--ff-heading-light);
		font-size: var(--fs-xxl);
	}
}
