.admin_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: dodgerblue;

}

.admin_nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: red;
    min-width: 260px;
    width: 20%;
}

.admin_content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    background: green;
}