.admin_container {
    display: flex;
    height: 100vh;
    width: 100dvw;

    * {
        font-family: var(--ff-regular);
    }

    h1 {
        font-family: var(--ff-bold);
        color: var(--color-primary);
    }

    p {
        font-size: var(--fs-sm);
    }

}

.admin_nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #163aeb;
    min-width: 260px;
    width: 20%;
}

.second {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: inherit;
    border: none;
    border-top: 2px solid #FFC727
}

.second button {
    font-size: 1.4rem;
    border: none;
    color: white;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    padding: 20px 20px;
}

.titleContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 13%;
    width: 77%;
    border: none;

    img {
        width: 90px;
    }

    h1 {
        color: #FFC727;
        font-size: 1.6  rem;
    }
}
.iconCont {
    display: flex;
    align-items: center;
    padding: 10px 40px;
    text-decoration: none;
    transition: 0.3s;
    

    &:hover {
        background-color: #788bea;

        &>button {
            color: #3b4574;
        }
    }
}
.iconContt {
    display: flex;
    align-items: center;
    padding: 10px 40px;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
        background-color: red;

        &>button {
            color: white;
        }
    }
}

.admin_content {
    height: 100%;
    width: 80%;
    background: url(../../assets/images/cvsuBG.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.active {
    background: gray;
}